body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:focus,
a:hover {
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, .6);
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.mr-auto {
    margin-right: auto !important
}

.ml-auto {
    margin-left: auto !important
}

.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center
}

.index-page {
    color: #fff;
    text-align: center;
}

br {
    display: block;
    content: "";
    margin-top: 5px;
}

/* Move it (define the animation) */
@-moz-keyframes fast {
    0% {
        -moz-transform: translateY(20%);
    }

    100% {
        -moz-transform: translateY(-60%);
    }
}

@-webkit-keyframes fast {
    0% {
        -webkit-transform: translateY(20%);
    }

    100% {
        -webkit-transform: translateY(-20%);
    }
}

@keyframes fast {
    0% {
        -moz-transform: translateY(20%);
        /* Browser bug fix */
        -webkit-transform: translateY(20%);
        /* Browser bug fix */
        transform: translateY(20%);
    }

    100% {
        -moz-transform: translateY(-20%);
        /* Browser bug fix */
        -webkit-transform: translateY(-20%);
        /* Browser bug fix */
        transform: translateY(-20%);
    }
}

#reveal1 {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#reveal1.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}


.section {
    padding-top: 200px;
}

.page1-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 60px
}

.page1-links>h3 {
    font-family: Quicksand;
    font-size: 8px;
    letter-spacing: -1.5px
}

.site-icon {
    margin: 0 12px
}

.page2-container {
    text-align: justify;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;
    margin: 0 15px 50px 15px;
}

.page2-title {
    display: inline;
    font-family: PremiumUltra2;
    font-size: 43px;
    color: rgb(255, 255, 255);
}

.page2-title-container {
    text-align: center;
    margin: 0 0 20px 0
}

@media screen and (max-width:991px) {
    .page2-container {
        margin: 0 15px 25px 15px;
    }
}

@media screen and (max-width:900px) {
    .page2-container {
        max-width: 800px;
    }
}

@media screen and (max-width:600px) {
    .page2-title-container {
        margin: 0 5px 0 5px
    }
}

.page3-title {
    font-family: "Days One";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(51, 50, 50);
}

.page4-title {
    font-family: "Days One";
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
}

.page4-container {
    padding: 60px 0px 80px;
    background: rgb(4, 29, 80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px -1px 8px black;
    margin-top: 120px;
}

.page5-title {
    font-family: "Days One";
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 10px 0
}

.page5-sub-title {
    font-family: "Alegreya Sans";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 30px 0 0 0;
    color: black;
}

.page5-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline
}

.page5-links > h3 {
    font-family: Quicksand;
    font-size: 25px;
    letter-spacing: -1.5px
}

.top-music {
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.music-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.songs-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    min-width: 100%;
}

.songs-banner {
    text-align: center;
    background: linear-gradient(rgba(50, 118, 214, 0.7),rgb(21, 90, 187));
    width: 76%;
    margin: 0px 12%;
    border-radius: 25px;
    box-shadow: 4px 3px 4px black;
}

#song1 {
    align-self: center;
    width: 100%;
    margin: 45px 0px;
    padding: 0px 40px;
}

#song2 {
    align-self: center;
    width: 100%;
    margin: none;
    padding: 0px 40px;
}

#song3 {
    align-self: center;
    width: 100%;
    margin: 45px 0px 0PX;
    padding: 0px 40px;
}

#song4 {
    align-self: center;
    width: 100%;
    margin: 45px 0px;
    padding: 0px 40px;
}

.downloadSection {
    padding-bottom: 40px
}

@media screen and (max-width:900px) {
    .songs-banner {
        width: 80%;
        margin: 0px 10%;
    }
}

@media screen and (max-width:600) {
    .songs-banner {
        width: 90%;
        margin: 0px 5%;
    }
}

.contact-form {
    max-width: 300px
}

.space-50 {
    margin: 10px auto;
    max-height: 4.5px;
    width: 60%;
    max-width: 400px;
    background: rgb(33, 108, 212);
    text-align: center;
    display: block;
    border-radius: 10px;
}

#submit-button:hover {
    text-shadow: 0px 0px 10px rgba(25, 66, 161, 0.6);
}













