body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:focus,
a:hover {
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, .6);
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.mr-auto {
    margin-right: auto !important
}


.ml-auto {
    margin-left: auto !important
}

.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center
}

.index-page {
    color: #fff;
    text-align: center;
}