.section {
    padding-top: 50px;
}

.page1-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 60px
}

.page1-links>h3 {
    font-family: Quicksand;
    font-size: 8px;
    letter-spacing: -1.5px
}

.site-icon {
    margin: 0 12px
}

.page2-container {
    text-align: justify;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;
    margin: 0 15px 50px 15px;
}

.page2-title {
    display: inline;
    font-family: Righteous;
    font-size: 43px;
    color: rgb(51, 50, 50);
}

.page2-title-container {
    text-align: left;
    margin: 0 0 20px 0
}

.page2-image {
    display: inline;
    float: left;
    margin-right: 20px
}

.page2-bio {
    display: inline;
    text-align: justify;
    padding: 20px 0 0 0
}

.page2-bio-text {
    display: inline;
    font-family: 'Alegreya Sans';
    text-indent: 25px;
}

.page2-bio-text > p {
    font-size: 16px;
}

@media screen and (max-width:991px) {
    .page2-container {
        margin: 0 15px 25px 15px;
    }
}

@media screen and (max-width:900px) {
    .page2-container {
        max-width: 800px;
    }
}

@media screen and (max-width:600px) {
    .page2-bio {
        float: left;
        margin: 0 5px 0 5px
    }
    .page2-title-container {
        margin: 0 5px 0 5px
    }
    .page2-title-container {
        text-align: center;
        margin: 0 0 20px 0
    }
    .page2-image {
        margin-left: 15%;
        width: 70%;
        margin-right: 15%;
        margin-bottom: 18px
    }
}

.page3-title {
    font-family: "Days One";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(51, 50, 50);
}

.page4-title {
    font-family: "Days One";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.page4-container {
    padding: 60px 0px 80px;
    background: rgb(4, 29, 80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px -1px 8px black;
    margin-top: 120px;
}

.page5-title {
    font-family: "Days One";
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 10px 0
}

.page5-sub-title {
    font-family: "Alegreya Sans";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 30px 0 0 0;
    color: black;
}

.page5-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline
}

.page5-links > h3 {
    font-family: Quicksand;
    font-size: 25px;
    letter-spacing: -1.5px
}

.pagesuccess-title {
    font-family: "Days One";
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 50px 0;
    color: white;
}

.top-music {
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.music-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.songs-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    min-width: 100%;
}

.songs-banner {
    text-align: center;
    background: linear-gradient(rgba(50, 118, 214, 0.7),rgb(21, 90, 187));
    width: 76%;
    margin: 0px 12%;
    border-radius: 25px;
    box-shadow: 4px 3px 4px black;
}

.video-title {
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
    font-family: "Days One";
    color: #3c4858;
    margin-bottom: 30px;
}

#song1 {
    align-self: center;
    width: 100%;
    margin: 45px 0px;
    padding: 0px 40px;
}

#song2 {
    align-self: center;
    width: 100%;
    margin: none;
    padding: 0px 40px;
}

#song3 {
    align-self: center;
    width: 100%;
    margin: 45px 0px 0PX;
    padding: 0px 40px;
}

#song4 {
    align-self: center;
    width: 100%;
    margin: 45px 0px;
    padding: 0px 40px;
}


.downloadSection {
    padding-bottom: 40px
}

@media screen and (max-width:900px) {
    .songs-banner {
        width: 80%;
        margin: 0px 10%;
    }
    .videos {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:600) {
    .songs-banner {
        width: 90%;
        margin: 0px 5%;
    }
}

@media screen and (max-width:475px) {

}
.studio-pic {
    max-width: 100%;
    background-image: url(../img/studio.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover
}

.contact-form {
    max-width: 300px
}

.space-50 {
    margin: 10px auto;
    max-height: 4.5px;
    width: 60%;
    max-width: 400px;
    background: rgb(33, 108, 212);
    text-align: center;
    display: block;
    border-radius: 10px;
}

#submit-button:hover {
    text-shadow: 0px 0px 10px rgba(25, 66, 161, 0.6);
}