body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fafafa
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:focus,
a:hover {
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, .6);
    text-decoration: none
}

img {
    vertical-align: middle;
    border-style: none
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.mr-auto {
    margin-right: auto !important
}


.ml-auto {
    margin-left: auto !important
}

.page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center
}

.index-page {
    color: #fff;
    text-align: center;
}

.inactive {
    color: rgb(231, 231, 233);
    font-size: 15px;
    width: 35px;
    height: 35px;
    margin: 0 8px;
    font-weight: bold;
}

.inactive:visited { 

}

.inactive:focus { 
    color: rgb(144, 144, 150);
}

.inactive:hover { 
    color: rgb(144, 144, 150);
    cursor: pointer;
}

.inactive:active { 
    color: rgb(144, 144, 150);
}

.active {
    color: rgb(234, 230, 31);
    font-size: 15px;
    width: 35px;
    height: 35px;
    margin: 0 8px;
    font-weight: bold;
}

.active:visited { 

}
.active:focus { 
    color: rgb(234, 230, 31);
}

.active:hover { 
    color: rgb(234, 230, 31);
    cursor: pointer;
}

.active:active { 
    color: rgb(234, 230, 31);
}

br {
    display: block;
    content: "";
    margin-top: 5px;
}

#order {
    width: 70px;
    height: 25px;
    margin: 10px auto 0;
}

#order:hover {
    cursor: pointer;
}

#description {
    margin-bottom: 10px;
    font-weight: bold;
}

#link-container {
padding-right: 65px;
}

#vertical-container {
    flex-flow: column nowrap;
    height: 50px;	
    overflow: hidden;
    position: fixed;
    background: none;
    color: white;
    width: 100px;
}

#vertical-container p {
    position: absolute;
    width: 100%;
    height: 120%;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: "Days One";
    /* Starting position */
    -moz-transform:translateY(20%);
    -webkit-transform:translateY(20%);	
    transform:translateY(20%);
    /* Apply animation to this element */	
    -moz-animation: fast 1s linear infinite alternate;
    -webkit-animation: fast 1s linear infinite alternate;
    animation: fast 1s linear infinite alternate;
}

/* Move it (define the animation) */
@-moz-keyframes fast {
    0%   { -moz-transform: translateY(20%); }
    100% { -moz-transform: translateY(-60%); }
}

@-webkit-keyframes fast {
    0%   { -webkit-transform: translateY(20%); }
    100% { -webkit-transform: translateY(-20%); }
}

@keyframes fast {
    0%   { 
        -moz-transform: translateY(20%); /* Browser bug fix */
        -webkit-transform: translateY(20%); /* Browser bug fix */
        transform: translateY(20%); 		
    }

    100% { 
        -moz-transform: translateY(-20%); /* Browser bug fix */
        -webkit-transform: translateY(-20%); /* Browser bug fix */
        transform: translateY(-20%); 
    }
}
